@page
@model InsureMe.Pages.Users.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.DateOfBirth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.DateOfBirth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.NoClaimsYears)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.NoClaimsYears)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.YearsLicenceHeld)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.YearsLicenceHeld)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Convictions)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Convictions)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.PenaltyPoints)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.PenaltyPoints)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="User.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
