@page
@model InsureMe.Pages.Users.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.DateOfBirth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.DateOfBirth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.NoClaimsYears)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.NoClaimsYears)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.YearsLicenceHeld)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.YearsLicenceHeld)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Convictions)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Convictions)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.PenaltyPoints)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.PenaltyPoints)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.User.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
